#slideshow { 
    display:none;
    margin: 50px auto; 
    position: relative; 
    width: 240px; 
    height: 200px; 
    padding: 10px; 
    
    background-color: #385cae;
    
    color: #fff;
    text-align: center;
    
    
}

#slideshow > li { 
    position: absolute; 
    
    display: inline-block;
    
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
    
    vertical-align: middle;
    
    list-style: none;
}